@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }


a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #1d305f;
  color: #d6d6d6;
  /*text-shadow: 0 0 20px #333;*/
}

.remark-code {
    font-size: 15px;
}

.inverse h1, .inverse h2, .inverse h3 {
  /*color: #000; */
  color: #f3f3f3; 
}

.greyed-out {
  color: grey;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.left100-column {
  width: 98%;
  float: left;
}

.left30-column {
  width: 28%;
  float: left;
}

.right70-column {
  width: 68%;
  float: right;
}

.left35-column {
  width: 33%;
  float: left;
}

.right65-column {
  width: 64%;
  float: right;
}

.left65-column {
  width: 63%;
  float: left;
}

.right35-column {
  width: 34%;
  float: right;
}



.left40-column {
  width: 39%;
  float: left;
}

.right40-column {
  width: 38%;
  float: right;
}

.left60-column {
  width: 59%;
  float: left;
}


.right45-column {
  width: 43%;
  float: right;
}

.left55-column {
  width: 53%;
  float: left;
}


.right60-column {
  width: 58%;
  float: right;
}

.h-custom {
  font-family: 'Yanone Kaffeesatz';
  font-size: 180%;
  color: #00aeef;
}

.exercise-title {
  font-family: 'Yanone Kaffeesatz';
  font-size: 150%;
  /*font-weight: bold; */
  margin-bottom: 100px;
}

.exercise-subtitle {
  font-family: 'Yanone Kaffeesatz';
  font-size: 120%;
  /*font-weight: bold;*/
}

.text50 {
  font-size: 50%;
}

.text80 {
  font-size: 80%;
}

.text90 {
  font-size: 90%;
}

.text120 {
  font-size: 120%;
}

.large-text {
  font-size: 150%;
}

.small-code {
  font-size: 40%;
}

.pull-left-minborder {
  float: left;
  width: 49%;
}
.pull-right-minborder {
  float: right;
  width: 49%;
}


.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right + * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
